/* Variables CSS para control centralizado de colores */
:root {
  /* Colores personalizados */
  --color1: #5F9EA0;
  --bg-color1: #5F9EA0;
  --color2: #F0F8FF;
  --bg-color2: #0b77e0;
  --color3: #000080;
  --bg-color3: #000080;
  --color4: #87CEEB;
  --bg-color4: #87CEEB;
  --color5: #778899;
  --bg-color5: #778899;
  /* Color de fondo principal */
  --primary-bg: #1e304f;
}
header {
    background-color: #D3D3D3; /* Light gray */
    color: black; /* Ensure text is visible */
}

/* Global */
body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--primary-bg);
}

/* Fuente personalizada para títulos */
.font-titulo {
  font-family: 'Montserrat', sans-serif;
}

/* Clases de color utilizando variables */
.color1 { color: var(--color1); }
.bg-color1 { background-color: var(--bg-color1); }
.color2 { color: var(--color2); }
.bg-color2 { background-color: var(--bg-color2); }
.color3 { color: var(--color3); }
.bg-color3 { background-color: var(--bg-color3); }
.color4 { color: var(--color4); }
.bg-color4 { background-color: var(--bg-color4); }
.color5 { color: var(--color5); }
.bg-color5 { background-color: var(--bg-color5); }

/* Animación para iconos */
.icon-animation {
  transition: transform 0.3s ease;
}
.icon-animation:active {
  transform: scale(1.2) rotate(20deg);
}

/* Tamaño de los iconos */
.icon {
  width: 40px;
  height: 40px;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
  header .container {
    flex-direction: column;
  }
}
